@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  background-color: rgb(174, 104, 104);
}

.Home {

  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  
}

h1 {
  font-size: 50px;
  font-family: Gluten;
  color: whitesmoke;
  margin-top: 100px;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  font-family: Quicksand;
  color: whitesmoke;
  margin-bottom: 30px;

}

#Mole {
  
  width:40px;
  height: 40px;
  margin-bottom:30px;
}

#homeBtn {
  margin: 10px;
  border: 1px solid rgb(210, 232, 210);
  font-size: 14px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 4px;
  background-color: rgb(247, 246, 244);
  font-family: Gluten;
  color: rgb(59, 72, 63);
  width:140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:7px;
}

#homeBtnBlocked {
  margin: 10px;
  border: 1px solid rgb(157, 154, 148);
  font-size: 14px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 4px;
  background-color: rgb(157, 154, 148);
  font-family: Gluten;
  color: rgb(59, 72, 63);
  width:140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:7px;
}

#Mole{
  width:70px;
  height: 70px;
}

#MoleInBtn{
  width:20px;
  height: 20px;
}

#movingMoley{
  max-width:100px;
  height: auto;
  position: absolute;
  top:700px;
  align-content: bottom;
}

// #timerMole {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 500px;
// }

#timer {
  height: auto;
  position: absolute;
  top:650px;
  left: 1700px;
  align-content: bottom;
}

#moleDiv {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // top: 50%;
  gap: 50px;
}

#moleGif {
  width: 35%;
  height: 35%;
}

#backHome {
  margin-top: 30px;
  font-family: Amatic SC;
  font-size: 30px;
  margin-left: 80%;
  background-color: transparent;
  border:0px;
}

#submit {
  font-family: Amatic SC;
  font-size: 30px;
  border-radius: 5px;
  background-color: green;
  color: aliceblue;
  border: 1px solid rgb(24, 106, 24);
  margin-bottom: 50px;
}

.gamePage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  
}
input{
  font-family: Quicksand;
  font-size: 15px;
  border-radius: 5px;
  padding-left: 10px;
  width: 400px;
  height: 30px;
  background-color: rgb(226, 228, 223);
  border-radius: 10px;
  border: 1px solid transparent;
}

h3 {
  font-size: 30px;
  font-family: Gluten;
  color:white;
  margin-top: 70px;
  margin-bottom: 50px;
}

#prompts{
  font-family:Quicksand;
  color:white;
  width: 60%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

#star {
  width:30px;
  height: 30px;
}

.buttons {
  display:flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  
}

#hint{
  font-family: Amatic SC;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(64, 65, 64);
  color: aliceblue;
  border: 1px solid rgb(64, 65, 64);
  margin-bottom: 50px;
}

#hintDiv{
  display: flex;
  flex-direction: column;
  
}

#hintH3{
  
  font-family:Quicksand;
  color:white;
  color: rgb(208, 210, 206);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 0px;
  
}

#level {
  font-size: 20px;
  font-family: Gluten;
  color: white;
  display: flex;
  align-items: flex-end;
  gap:10px;
}


